[Service]
ExecStart=/home/pi/.signalk/signalk-server
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/pi/.signalk
User=pi
Environment=EXTERNALPORT=80
[Install]
WantedBy=multi-user.target
