[Desktop Entry]
Type=Application
Name=AvNav
GenericName=AvNav
Comment=AvNav ChartPlotter
Exec=sh -c "/opt/AvNav/AvNav"
Terminal=false
Icon=gnome-globe
Categories=System;GPS;Geography;Navigation;Chart;
Keywords=GPS;Navigation;Chart;
