[Desktop Entry]
Type=Application
Name=Dockwa Marina Booking
GenericName=Dockwa Marina Booking
Comment=Dockwa Marina Booking
Exec=sh -c "/opt/Dockwa/Dockwa"
Terminal=false
Categories=Network;Internet;Travel
Keywords=Network;Internet;Travel
Icon=user-home
