[Desktop Entry]
Type=Application
Name=Iris
GenericName=Iris
Comment=Mopidy Iris
Exec=sh -c "/opt/Iris/Iris"
Terminal=false
Icon=sound
Categories=AudioVideo;Multimedia;Sound
Keywords=AudioVideo;Multimedia;Sound
