[Desktop Entry]
Type=Application
Name=Marina Booking
GenericName=Marina Booking
Comment=Marina Booking
Exec=sh -c "/opt/Moorings/Moorings"
Terminal=false
Categories=Network;Internet;Travel
Keywords=Network;Internet;Travel
Icon=user-home
