[Desktop Entry]
Type=Application
Name=MusicBox
GenericName=MusicBox
Comment=Mopidy MusicBox
Exec=sh -c "/opt/MusicBox/MusicBox"
Terminal=false
Icon=sound
Categories=AudioVideo;Multimedia;Sound
Keywords=AudioVideo;Multimedia;Sound
Hidden=true