[Desktop Entry]
Type=Application
Name=MusicBox
GenericName=MusicBox
Comment=Mopidy MusicBox
Exec=sh -c "chromium-browser -new-window http://openplotter:6680/musicbox_webclient; sleep 6; xdotool key F11"
Terminal=false
Icon=sound
Categories=AudioVideo;Multimedia;Sound
Keywords=AudioVideo;Multimedia;Sound
