[Desktop Entry]
Type=Application
Name=Nauticed Sailing Training
GenericName=Nauticed Sailing Training
Comment=Nauticed Sailing Training
Exec=sh -c "/opt/Nauticed/Nauticed"
Terminal=false
Categories=Network;Internet;Travel
Keywords=Network;Internet;Travel
Icon=user-home
