[Desktop Entry]
Version=1.0
Name=Chart Plotter (OpenCPN)
Comment=Open source chart plotter / navigator
Exec=onlyone /usr/bin/opencpn
Icon=opencpn
StartupNotify=true
Terminal=false
Type=Application
Categories=System;GPS;Geography;Navigation;Chart;
Keywords=GPS;Navigation;Chart;
