[Desktop Entry]
Type=Application
Name=Sail Gauge
Exec=/opt/sailgauge/sailgauge
Terminal=false
Icon=/home/user/.local/share/icons/signalk.png
Categories=System
