[Desktop Entry]
Version=1.0
Name=scrcpy (Control Android Device)
Comment=Control your Android device
Exec=/usr/local/bin/scrcpy
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=phone
Categories=System
StartupNotify=true
