[Desktop Entry]
Type=Application
Name=SignalK Marine Data Server
Exec=/opt/SignalK/SignalK
Terminal=false
Icon=/home/user/.local/share/icons/signalk.png
Categories=System
