[Desktop Entry]
Type=Application
Name=Signalk Marine data server
Exec=onlyone /usr/local/bin/SignalK
Terminal=false
Icon=/home/user/.local/share/icons/signalk.png
Categories=System
