[Desktop Entry]
Type=Application
Name=SkWiz Instruments
Exec=/opt/skwiz/skwiz
Terminal=false
Icon=/home/user/.local/share/icons/signalk.png
Categories=System
