[Unit]
Description=Start Graphical Interface
After=graphical.target systemd-user-sessions.service

[Service]
User=user
WorkingDirectory=/home/user
PAMName=login
Type=simple
ExecStart=/bin/bash -l -c startx
Restart=on-failure

[Install]
WantedBy=graphical.target
