#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=XyGrib
Comment=GRIB Weather File Viewer
Comment[fr]=Visualisation de données météo au format GRIB
Terminal=false
Categories=Education
Icon=logo_grib
Exec=XyGrib
Name[fr_FR]=XyGrib
