# Prolific Technology, Inc. PL2303 Serial Port [linux module: pl2303]
SUBSYSTEM=="net", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="606f", NAME="LYS_can"
