# The original source of this file is from the gpsd project.
# https://github.com/ntpsec/gpsd
# https://github.com/ntpsec/gpsd/blob/master/gpsd.rules.in

# ATEN International Co., Ltd UC-232A Serial Port [linux module: pl2303]
SUBSYSTEM=="tty", ATTRS{idVendor}=="0557", ATTRS{idProduct}=="2008", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# PS-360 OEM (GPS sold with MS Street and Trips 2005) [linux module: pl2303]
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="aaa0", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Cypress M8/CY7C64013 (Delorme uses these) [linux module: cypress_m8]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1163", ATTRS{idProduct}=="0100", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Cypress M8/CY7C64013 (DeLorme LT-40)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1163", ATTRS{idProduct}=="0200", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Garmin International GPSmap, various models (tested with Garmin GPS 18 USB)  [linux module: garmin_gps]
SUBSYSTEM=="tty", ATTRS{idVendor}=="091e", ATTRS{idProduct}=="0003", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# u-blox AG, u-blox 5 (tested with Navilock NL-402U) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a5", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# u-blox AG, u-blox 6 (tested with GNSS Evaluation Kit TCXO) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a6", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# U-Blox AG [u-blox 7]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# U-Blox AG [u-blox 8]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# u-blox AG, u-blox 9 (tested with GNSS Evaluation Kit C099-F9P) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a9", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# MediaTek (tested with HOLUX M-1200E) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="0e8d", ATTRS{idProduct}=="3329", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Telit wireless solutions (tested with HE910G) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{interface}=="Telit Wireless Module Port", ATTRS{bInterfaceNumber}=="06", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# u-blox AG, u-blox 8 (tested with u-blox8 GNSS Mouse Receiver / GR-801) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

ACTION=="remove", SUBSYSTEM=="tty", RUN+="/lib/udev/manage_gps.sh %n remove"
