# The original source of this file is form the gpsd project.

# Prolific Technology, Inc. PL2303 Serial Port [linux module: pl2303]
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# ATEN International Co., Ltd UC-232A Serial Port [linux module: pl2303]
SUBSYSTEM=="tty", ATTRS{idVendor}=="0557", ATTRS{idProduct}=="2008", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# PS-360 OEM (GPS sold with MS Street and Trips 2005) [linux module: pl2303]
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="aaa0", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# FTDI 8U232AM / FT232 [linux module: ftdi_sio]
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Cypress M8/CY7C64013 (Delorme uses these) [linux module: cypress_m8]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1163", ATTRS{idProduct}=="0100", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Cypress M8/CY7C64013 (DeLorme LT-40)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1163", ATTRS{idProduct}=="0200", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Garmin International GPSmap, various models (tested with Garmin GPS 18 USB)  [linux module: garmin_gps]
SUBSYSTEM=="tty", ATTRS{idVendor}=="091e", ATTRS{idProduct}=="0003", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"
# Cygnal Integrated Products, Inc. CP210x Composite Device (Used by Holux m241 and Wintec grays2 wbt-201) [linux module: cp210x]
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# Cygnal Integrated Products, Inc. [linux module: cp210x]
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea71", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# u-blox AG, u-blox 5 (tested with Navilock NL-402U) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a5", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# u-blox AG, u-blox 6 (tested with GNSS Evaluation Kit TCXO) [linux module: cdc_acm]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a6", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# U-Blox AG [u-blox 7]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

# U-Blox AG [u-blox 8]
SUBSYSTEM=="tty", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", SYMLINK="ttyLYS_gps_%n", RUN+="/lib/udev/manage_gps.sh %n"

ACTION=="remove", SUBSYSTEM=="tty", RUN+="/lib/udev/manage_gps.sh %n remove"
