# dAISy AIS receiver
SUBSYSTEM=="tty", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="0b03", SYMLINK+="ttyLYS_ais_%n", RUN+="/lib/udev/manage_ais.sh %n"

ACTION=="remove", SUBSYSTEM=="tty", RUN+="/lib/udev/manage_ais.sh %n remove"
