[Unit]
After=graphical.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/node /var/www/bbn-launcher/bbn-launcher.js
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/www/bbn-launcher

[Install]
WantedBy=graphical.target
