[Unit]
Description=GPS Daemon for the devices managed by lysMarine
After=chronyd.service

[Service]
EnvironmentFile=-/etc/default/gpsd
ExecStart=/usr/sbin/gpsd -N $GPSD_OPTIONS -S 2947%i /dev/ttyLYS_gps_%i
#ExecStart=/usr/sbin/gpsd -N $GPSD_OPTIONS -S 2947%i /dev/ttyLYS_gps_%i ntrip://ntrip.itsware.net:2101/Minnea
#ExecStart=/usr/sbin/gpsd -N $GPSD_OPTIONS -S 2947%i /dev/ttyLYS_gps_%i ntrip://rtk2go.com:2101/MontesAltos