[Unit]
Description=pypilot
Conflicts=pypilot_boatimu.service
#Before=avnav.service mopidy.service

[Service]
Type=simple
ExecStart=pypilot
User=%i
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target