[Unit]
After=graphical.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/node /var/www/speedSample/app.js -P 80 -w 4998
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/www/speedSample

[Install]
WantedBy=graphical.target
