[Unit]
Description=Display a splash screen on boot
DefaultDependencies=no
Before=boot.mount

[Service]
ExecStart=/bin/sh /bin/splashScreen
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
