[Desktop Entry]
Type=Application
Name=BBN Cruise Checklist
GenericName=BBN Cruise Checklist
Comment=Cruise Checklist
Exec=gnome-www-browser /usr/local/share/bbn-checklist/bbn-checklist.html
Terminal=false
Icon=document
Categories=Utilities
Keywords=Utilities
