[Desktop Entry]
Type=Application
Name=BBN-Checklist
GenericName=BBN-Checklist
Comment=Cruise Checklist
Exec=chromium /usr/local/share/bbn-checklist/bbn-checklist.html
Terminal=false
Icon=document
Categories=Utilities
Keywords=Utilities
