[Desktop Entry]
Type=Application
Name=ColReg
GenericName=ColReg Collision Regulations
Comment=Collision Regulations
Exec=gnome-www-browser /usr/local/share/colreg/colreg.pdf
Terminal=false
Icon=document
Categories=Utilities
Keywords=Utilities
