[Desktop Entry]
Type=Application
Name=GNU AIS
GenericName=GNU AIS
Comment=GNU AIS
Exec=gnuaisgui
Icon=up
Terminal=false
Categories=Navigation;ChartPlotter
Keywords=Navigation;ChartPlotter
