[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=hamfax RadioFax
GenericName=hamfax RadioFax
Icon=phone
Comment=Send and receive radio facsimiles
Comment[de]=Senden und Empfangen von Radio-Faksimile-Sendungen
Exec=hamfax
Categories=AudioVideo;Audio;HamRadio;Qt
