[Desktop Entry]
Type=Application
Name=JNX NavTex
GenericName=JNX NavTex
Comment=JNX NavTex Decoder
Exec=sh -c "cd /usr/local/share/jnx; java -jar JNX.jar"
Terminal=false
Icon=radio
Categories=HamRadio;Radio;Weather
Keywords=HamRadio;Radio;Weather
