[Desktop Entry]
Type=Application
Name=JTides
GenericName=JTides
Comment=JTides
Exec=sh -c "cd /usr/local/share/jtides; java -jar JTides.jar"
Terminal=false
Icon=weather-fog-symbolic
Categories=Navigation
Keywords=Navigation
