[Desktop Entry]
Type=Application
Name=JWX WeatherFax
GenericName=JWX WeatherFax
Comment=JWX WeatherFax Decoder
Exec=sh -c "cd /usr/local/share/jwx; java -jar JWX.jar"
Terminal=false
Icon=radio
Categories=HamRadio;Radio;Weather
Keywords=HamRadio;Radio;Weather
