[Desktop Entry]
Type=Application
Name=Knots
GenericName=Knots
Comment=Knots
Exec=gnome-www-browser /usr/local/share/knots/knots.html
Terminal=false
Icon=document
Categories=Utilities
Keywords=Utilities
