[Desktop Entry]
Type=Application
Name=Marine Life
GenericName=Marine Life
Comment=Marine Life
Exec=gnome-www-browser /usr/local/share/marine-life/marine-life-id.html
Terminal=false
Icon=accessories-dictionary
Categories=Utilities
Keywords=Utilities
