[Desktop Entry]
Type=Application
Name=Previsat Satellite Tracker
GenericName=Previsat Satellite Tracker
Comment=Previsat Satellite Tracker
Exec=previsat
Icon=gnome-globe
Terminal=false
Categories=Astronomy;HamRadio
Keywords=Astronomy;HamRadio
