[Desktop Entry]
Type=Application
Name=Vessel Data
GenericName=Vessel Data
Comment=Vessel Data
Exec=vessel-data
Terminal=false
Icon=document
Categories=Utilities
Keywords=Utilities
