[Service]
ExecStart=/usr/bin/node /opt/tuktuk-chart-plotter/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/opt/tuktuk-chart-plotter
[Install]
WantedBy=graphical.target
