[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstrun
StandardOutput=syslog
StandardError=syslog
User=root
Before=graphical.target

[Install]
WantedBy=multi-user.target
