[Unit]
Description=RTL-SDR decoder for AIS signals
After=multi-user.target syslog.target

[Service]
ExecStart=/usr/local/bin/rtl_ais -R on -P 10112
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target