[Desktop Entry]
Type=Application
Name=Pypilot Webapp
Exec=/opt/pypilot-webapp-linux-armv7l/pypilot-webapp
Terminal=false
Icon=go-jump
Categories=Utility
